.Setting{
    text-align: left;
    padding-left: 80px;
    padding-top: 20px;
    color: #022626;
}

.avatar-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
}
.avatar-container img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.avatar-container:hover .camera-icon {
    display: block;
}
.camera-icon {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /* Replace the content URL with the path to your camera icon image */
    content: url('../assets/img/camLogo.png');
}

/* change again */
.User{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.username{
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
}

.formContainer{
    background-color: #FAFBFC;
    border: 1px solid #D6DCDE;
    box-shadow: 0px 0 15px 0 #6A7273;
    border-radius: 4px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: auto;
    
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 100px);
    margin-right: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.table{
    padding: 5px;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.th, td {
    box-sizing: border-box;
    text-align: left;
    padding: 8px;
    border-bottom: 2px solid #ddd;
    width: 50%;
    gap: 20%;
}  
