.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 40%; /* Adjust width as necessary */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
    background-color: #fff;
}   

.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transform: translateY(-4px);
}

.card h3 {
    margin-top: 0;
    color: #333;
}

.card p {
    margin: 5px 0;
    line-height: 1.5;
    color: #666;
    font-size: 0.9em;
}

/* Base styles for all difficulty levels */
.difficulty-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px; /* Circular edges */
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
    margin-top: 5px; /* Spacing from the title */
    width: auto; /* Adjust width based on content */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Slight shadow for depth */
}


/* Styles for each difficulty level */
.beginner {
    background-color: #90EE90; /* Green color for beginner */
}

.intermediate {
    background-color: #FFA500; /* Orange color for intermediate */
}

.advanced {
    background-color: #B22222; /* Firebrick color for advanced */
}