.gallerypage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(244, 244, 244, 0.9);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative; /* Ensures proper stacking context for children */
}

.section {
    flex: 1 1 calc(25% - 20px);
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: visible; /* Allows the image to break out on hover */
    transition: all 0.3s ease;
    cursor: pointer;
}

.section:hover {
    z-index: 100; /* Brings the hovered section to the top */
}

.gallery-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.section:hover .gallery-image {
    transform: scale(2.5); /* Adjust scale as needed */
    position: fixed; /* Makes the image position relative to the viewport */
    left: 50%; /* Center horizontally */
    top: 50%; /* Center vertically */
    transform: translate(-50%, -50%) scale(2.5); /* Adjust translate to align correctly */
    width: 30vw; /* Width of image is 50% of the viewport width */
}


.section h2, .section p {
    transition: visibility 0.3s ease;

}

.section:hover h2, .section:hover p {
    visibility: hidden; /* Hides text when hovering over the section */
}
