body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    color: var(--neutral-900);
}

.gallerypage {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(244, 244, 244, 0.9); /* Light grey background with slight transparency */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for overall depth */
    border-radius: 10px; /* Rounded corners for the entire gallery page */
}

.section {
    flex: 1 1 calc(25% - 20px); /* Responsive boxes with 4 items per row */
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.95); /* Slightly less transparent white background */
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Slightly more prominent shadow for depth */
    border-radius: 12px; /* Slightly more rounded corners */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the content */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.section:hover {
    transform: translateY(-5px); /* Lift effect on hover */
}

.gallery-image {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Rounded corners for images */
    margin-bottom: 10px; /* Space below the image */
}

.section h2 {
    color: #333; /* Dark grey color for headings */
    font-size: 1.5em; /* Increased font size for headings */
    margin-bottom: 10px; /* Increased space below the heading */
}

.section p {
    color: #666; /* Medium grey color for paragraph */
    text-align: center;
    font-size: 1.1em; /* Slightly larger font size for better readability */
    margin-bottom: 0; /* Consistent space below the paragraph */
    line-height: 1.5; /* Improved line height for better text spacing */
}

