/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    color: var(--neutral-900);
} */

/*.homepage {
    display: flex;
    justify-content: center; 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px; 
    background-color: rgba(244, 244, 244, 0.9); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    position: relative; 
}*/

.homepage{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
@keyframes flyInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.homepage-section {
    margin: 0 20px; /* Increased margin for more space between sections */
    background-color: rgba(255, 255, 255, 0.95); /* Slightly less transparent white background */
    padding: 30px; /* Increased padding for more space inside the section */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Slightly more prominent shadow for depth */
    border-radius: 12px; /* Slightly more rounded corners */
    display: flex;
    flex-direction: column;
    animation: flyInFromLeft 0.5s ease;
    width: 40%;
}
.homepage-section:hover {
    transform: translateY(-10px); /* Lift effect on hover */
}

.homepage-section h2 {
    color: #333; /* Dark grey color for headings */
    font-size: 2em; /* Increased font size for headings */
    margin-bottom: 20px; /* Increased space below the heading */
    font-family: 'Merriweather', serif;

}

.homepage-section p {
    color: #666; /* Medium grey color for paragraph */
    font-size: 1.2em; /* Slightly larger font size for better readability */
    margin-bottom: 20px; /* Consistent space below the paragraph */
    line-height: 1.5; /* Improved line height for better text spacing */
    font-family: 'Georgia', serif;

}

.corner-image {
    width: 200px; /* Adjust size as needed */
    height: 200px; 
    margin-top: 40px;
    
}

